@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Asgard";
  src: url("/fonts/asgard/AsgardTrial-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: thin;
  font-display: swap;
}

@font-face {
  font-family: "Asgard";
  src: url("/fonts/asgard/AsgardTrial-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: light;
  font-display: swap;
}

@font-face {
  font-family: "Asgard";
  src: url("/fonts/asgard/AsgardTrial-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Asgard";
  src: url("/fonts/asgard/AsgardTrial-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: medium;
  font-display: swap;
}

@font-face {
  font-family: "Asgard";
  src: url("/fonts/asgard/AsgardTrial-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Asgard, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-green {
  background-color: #00FC09;
}

.text-green {
  color: #00FC09;
}

.text-secondary {
  color: #101820;
}

.bg-secondary {
  color: #101820;
}

.nav-hover:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-color: #00FC09;
  text-decoration-thickness: 10%;
  text-underline-offset: 30%;
  text-underline-position: from-font;
  transition: all;
  animation-duration: 2s;
}